<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
</head>
<body>
    <h1>Login</h1>
    <form action="/user/login" method="post" >
        
        <label>email</label>
        <input type="text" required name="email"/>
        <label>password</label>
        <input type="text" required name="password"/>

        <button type="submit">login</button>
    </form>
    
</body>
</html>