<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="/styleslogin.css">
</head>

<body>
    <div class="form-container">
        <h2>Create your account</h2>
        <form action="/user" method="post">
            <div class="form-group">
                <label>Name</label>
                <input type="text" required name="name" />
            </div>
            <div class="form-group">
                <label>Email</label>
                <input type="text" required name="email" />
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="text" required name="password" />
            </div>
            
            <div>
                <button type="submit" class="submit-btn">Sign Up</button>
            </div>
        </form>
    </div>

</body>

</html>