<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignUp</title>
</head>
<body>
    <h1>sign Up</h1>
    <form action="/user" method="post" >
        <label>name</label>
        <input type="text" required name="name"/>
        <label>email</label>
        <input type="text" required name="email"/>
        <label>password</label>
        <input type="text" required name="password"/>

        <button type="submit"> signup</button>
    </form>
    
</body>
</html>